.note {
	background-color: #090b;
	/* border: solid #060 1px; */
	border: solid rgb(0, 90, 0) 1px;
	border-right: solid #080;
	position: absolute;
	box-sizing: border-box;
	user-select: none;
	top: calc(var(--height) * 20px);
	left: calc(var(--scale) * var(--start) * 1px);
	width: calc(var(--scale) * var(--duration) * 1px);
	height: 20px;
	/* border-bottom-left-radius: 4px;
	border-top-left-radius: 4px; */
	border-radius: 4px;
}

.note.selected {
	background-color: #39db;
	border: solid #39a 1px;
	border-right: solid #3ad;
}

.note:hover {
	filter: brightness(1.2);
	cursor: pointer;
}

.duration-handle {
	height: 80%;
	width: 18px;
	max-width: 50%;
	min-width: 2px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(50%, -50%);
	cursor: ew-resize;
}
