.notes-editor {
	overflow-y: scroll;
	/* height: calc(var(--y-unit) * 88); */
	position: relative;
	background-color: rgb(20, 9, 29);
	box-sizing: border-box;
	height: 100vh;
	margin: 0;
}

.select-box {
	z-index: 1;
	background-color: rgba(66, 179, 255, 0.103);
	border: solid 1px rgba(32, 188, 255, 0.363);
	border-radius: 4px;
	position: relative;
	display: none;
	width: 0;
	height: 0;
}
