:root {
	--note-green: #009900;
	--note-green-a: #009900aa;
	--note-blue-a: #39da;
	--note-blue: #39d;
	--px: 1px;
}

.note {
	background-color: var(--note-green-a);
	position: absolute;
	box-sizing: border-box;
	user-select: none;
	top: calc(var(--height) * 20px);
	left: calc(var(--scale) * var(--start) * 1px);
	width: calc(var(--scale) * var(--duration) * 1px);
	height: 20px;
	/* border-radius-right: 5px; */
	border: solid #005800 1px;
}

.note:hover {
	filter: brightness(1.2);
	cursor: pointer;
}

.duration-handle {
	height: 90%;
	width: 4px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--note-green);
	cursor: ew-resize;
}
